.search-form {
    margin: 0;
    padding:0;
    display: block;
    border-left: 1px solid #3c83b8;
    background-color: #3c83b8;
}

.search-form input {
    border: none;
    padding: 0 10px;
    line-height: 50px;
    width: calc(100% - 60px);
}

.search-form input:focus {
    outline: none;
}

.search-form button {
    width: 60px;
    border: none;
    cursor: pointer;
    line-height: 48px;
    background-color:#3c83b8;
}

.search-form button:focus{
    outline: none;
}

.search-form button svg {
    top: 5px;
    fill: darkgrey;
    height: 20px;
    position: relative;
}