.btn {
    color: #fff;
    border: none; 
    cursor: pointer;
    font-size: 13px;
    text-transform: capitalize;
}

.btn-normal {
    font-size: 14px;
    padding: 0px 20px;
    line-height: 40px;  
}

.btn-small{
    padding: 0px 10px;
    line-height: 25px;      
}

.btn-default {
    background-color: #499edd;
}

.btn-cancel {
    background-color: darkorange;
}

.btn-delete {
    background-color:firebrick;
}

.btn-success {
    background-color: forestgreen;
}

.btn-group {
 display: flex;
 width: 95%;
 margin: 0 auto;
 justify-content: space-between;
}
.btn-group-justify {
    display: flex;
    justify-content: center;    
}