.calendar {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid steelblue;
}

.calendar-header {
    color: white;
    text-align: center;
    line-height: 40px;
    width: 100%;
    background-color: #2e62a7;
}

.calendar-date {
    height: 70px;
    cursor: pointer;
    width: calc(100% / 6);
    border-right: 1px solid steelblue;
    border-bottom: 1px solid steelblue;
}
.calendar-date:nth-child(6n+0) {
    border-right: 0px solid steelblue;
}

 .hasTodo {
    position: relative;
    background-color: #9ac3e5;
}

.hasTodo .tooltip {
    top: 5px;
    left: 50%;
    width: 80%;
    display: none;
    padding: 5px;
    line-height: 18px;
    font-size: 12px;
    color: #ffffff;
    position: absolute;
    background-color:#1e68bc;
    
}
.hasTodo:hover .tooltip{
    display: block;
    transform: translate(-50%,-100%);
}

.hasTodo .tooltip::after {
    position: absolute;
    left: calc(50% - 10px);
    bottom: -10px;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #1e68bc transparent transparent transparent;
    z-index: 111;  
}